<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <div class="h-screen bg-gray-200 w-full flex justify-center items-center">

        <form class="bg-orange-200 shadow-md shadow-black p-2 rounded-lg flex flex-col items-start gap-2" method="post"
            action="http://localhost:3000">

            <label class="font-bold text-2xl text-black" for="">Username</label>
            <input class="rounded-lg p-1 text-lg w-full" type="text" name="" id="">
            <label class="font-bold text-2xl text-black" for="">Post</label>
            <textarea class="rounded-lg p-1 text-lg w-full" name="" id=""></textarea>
            <button class="w-full font-medium text-white bg-orange-800 p-1 rounded-lg text-2xl">Submit</button>
        </form>
    </div>
</body>

</html>